<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Laravel7+">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="Laravel6">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/Components</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
